#main {
    position: absolute;
    height: 100vh;
    width: 800px;
    top: 0;
    left: calc(50vw - 400px);
}
@media screen and (max-width: 800px){
    #main {
        width: 100vw;
        left: 0
    }
}
#controls, #header, #comic {
    text-align: center;
}
hr {
    color: #ccc;
}

img {
    width: 75%;
}

#comicimg {
    max-height: calc(100vh - 300px);
    object-fit: contain;
}